:root {
  --main-bg-color: #ED6A5A;
  --white-key-color: #FFFFFF;
  --black-key-color: #000000;
}

body {
  background-color: var(--main-bg-color);
}

.white-key {
  background-color: --white-key-color;
  height: 50vh;
  width: 5vw;
}