:root {
  --main-bg-color: #ED6A5A;
  --white-key-color: #FFFFFF;
  --black-key-color: #000000;
}

body {
  background-color: var(--main-bg-color);
}

.white-key {
  background-color: var(--white-key-color);
  height: 50vh;
  width: 5vw;
}

.black-key {
  background-color: var(--black-key-color);
  height: 25vh;
  width: 3vw;
  z-index: 2;
  position: absolute;
  left: 100px;
}